*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.page{
    width: 100%;
    height: 100vh;
    background-image: url(img/starryNight.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
}
.modal-container{
    width: 30%;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hidden-modal{
    width: 30%;
    height: 200px;
    background-color: brown;
    position: absolute;
   
    z-index: 2;
    display: none;
    border-radius: 5px;

    text-align: center;
}